.attendanceregister_offlinesessionform {
    background-color: #F0F0F0;
}

.attendanceregister_courselist .lastrow {
    border-bottom: 1px solid #C0C0C0;
}

.attendanceregister_userlist .lastrow {
    border-bottom: 1px solid #C0C0C0;
}

.attendanceregister_usersummary .attendanceregister_onlinesubtotal {
    font-weight: bold;
}

.attendanceregister_usersummary .attendanceregister_offlinesubtotal {
    font-weight: bold;
    border-top: 1px solid #C0C0C0;
}

.attendanceregister_usersummary .attendanceregister_grandtotal {
    font-weight: bold;
    background-color: #F0F0F0;
    border-top: 1px double #C0C0C0;
}

.attendanceregister_usersummary .lastrow {
    border-bottom: 1px solid #C0C0C0;
}

.attendanceregister_sessionlist .offline_label {
    color: blue;
}

.attendanceregister_sessionlist .lastrow {
    border-bottom: 1px solid #C0C0C0;
}

.attendanceregister_sessionlist .addedbyother {
    text-decoration: underline;
}

.attendanceregister_sessionlist .attendanceregister_evenrow,
.attendanceregister_courselist .attendanceregister_evenrow,
.attendanceregister_userlist .attendanceregister_evenrow {
    background-color: #F0F0F0;
}

.attendanceregister_sessionlist .attendanceregister_oddrow,
.attendanceregister_courselist .attendanceregister_oddrow,
.attendanceregister_userlist .attendanceregister_oddrow {
    background-color: #FEFEFE;
}

.attendanceregister_buttonbar {
    position: absolute;
    right: 10px;
    overflow: auto;
}

.attendanceregister_buttonbar div.singlebutton {
    float: left;
    margin-left: 5px;
}

.attendanceregister_buttonbar span.helplink {
    float: left;
}

@media print {
    .attendanceregister_buttonbar, .action-icon {
        display: none;
    }

    table.attendanceregister_sessionlist,
    table.attendanceregister_courselist,
    table.attendanceregister_userlist,
    table.attendanceregister_usersummary {
        border: 1px solid #C0C0C0;
    }

    table.attendanceregister_sessionlist tr,
    table.attendanceregister_courselist tr,
    table.attendanceregister_userlist tr,
    table.attendanceregister_usersummary tr {
        border-bottom: 1px solid #C0C0C0;
        page-break-inside: avoid;
    }

    table.attendanceregister_sessionlist thead,
    table.attendanceregister_courselist thead,
    table.attendanceregister_userlist thead,
    table.attendanceregister_usersummary thead {
        display: table-header-group;
    }

    .path-mod-attendanceregister {
        a:link,
        a:visited {
            color: black;
            text-decoration: none;
        }
    }

    .attendanceregister_sessionlist .addedbyother {
        text-decoration: underline;
    }
}